* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    letter-spacing: 5px;
}

.logout {
    display: flex;
    justify-content: end;
    margin-right: 15px;
    margin-bottom: 5px;
}

.logout button {
    padding: 5px;
}

.logout a {
    text-decoration: none;
    background-color: antiquewhite;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    height: 50em;
}

.film-table {
    border: 1px solid;
}

.film-table td
{
    border: 1px solid;
}

.films {
    width: 70%;
    margin: 0 auto;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    margin-bottom: 5em;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th, td {
    padding: 20px;
}

td button {
    padding: 5px;
}

.add-film {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.film-container {
    display: flex;
    flex-direction: column;
}

.search-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

